:root {
    --sidebar-width: 30vw;
    --dark-grey: #1F2937;
    --hero: #FFFFFF;
    --light-grey: #E5E7EB;
    --medium-grey: #88898c;
    --lighter-blue: #00AEF0;
    --medium-blue: #129bf2;
    --medium-pink: #f77d7a;
}
@font-face {
    font-family: 'introrustg-base2line';
    src: url('../fonts/introrustg-base2line-webfont.woff2') format('woff2'),
         url('../fonts/introrustg-base2line-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'introheadr-base';
    src: url('../fonts/introheadr-base-webfont.woff2') format('woff2'),
         url('../fonts/introheadr-base-webfont.woff') format('woff');
         /* url('../../testy/fonts/Web\ Fonts/introdeadr_base_macroman/introheadr-base-webfont.woff') format('woff'); */
    font-weight: normal;
    font-style: normal;
}
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* outline: 2px solid red; */
}
html {
    font-size: 16px;
    margin: 0;
    font-family: 'introrustg-base2line', 'introheadr-base', sans-serif, Roboto;
}
/* body {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
} */

main {

}
  /* Typography */
  
h1 {
    font-size: 3.2rem;
}

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 1.6rem;
}

p {
    font-size: 0.9rem;
    line-height: 1.6rem;
    word-spacing: 0.1rem;
    margin: 10px 0;
}

a {
    padding: 10px;
}

form {
    margin: 0 auto;
}
input {
    border: 2px solid #000;
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 5px;
}

input:invalid {
    border-color: red;
}

input:valid {
    border-color: green;
}

button {
    width: 200px;
    height: 46px;
    border: 5px solid var(--hero);
    border-radius: 12px;
    border-style: outset;
    /* shadow-border: 0 1px 5px 0; */
    /* padding: 10px 20px; */
    color: var(--hero);
    font-size: 24px;
    font-weight: bold;
    background-image: linear-gradient(166deg, var(--heroc) 7%, var(--herod) 92%);
    margin: 8px 0 0 20px;
}

.container {
    width: 100vw;
    display: flex;
}

.sidebar {
    width: var(--sidebar-width);
    height: 100vh;
    background-image: url("../img/freepik-graphene3a.jpg");
    background-color: aqua;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner {
    /* background-image: opacity 0.6; */
    color: white;
    font-size: 2rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    /* justify-content: space-around; */
    margin: 0 1vw;
}

.logo {
    flex: 1;
}

.icon {
    flex: 1;
}

.content {
    height: 100vh;
    width: calc(100vw - var(--sidebar-width));
    display: flex;
    flex-flow: column nowrap;
    /* align-items: center; */
    justify-content: center;
}

.calltoaction, .appreciation {
    flex: 1;
    background-color: var(--light-grey);
    display: flex;
    align-items: center;
    justify-content: center;
}

.signupform {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 20px;
}

#blank_line {
    color: var(--hero);
}

.names, .contacts, .passwords {
    display: flex;
    justify-content: space-between;
}

#submit_button {
    color: var(--medium-blue);
    font-weight: bold;
    text-decoration: none;
}

/* input#email_address {
appearance: none;
width: 100%;
border: 1px solid #333;
margin: 0;

font-family: inherit;
font-size: 90%;

box-sizing: border-box;
}  */

/* invalid fields */
input#email_address.invalid {
border-color: #900;
background-color: #fdd;
}

input:focus.invalid {
outline: none;
}

/* error messages */
.error {
width: 100%;
padding: 0;

font-size: 80%;
color: white;
background-color: #900;
border-radius: 0 0 5px 5px;
box-sizing: border-box;
}

.error.active {
padding: 0.3em;
}

input,
textarea {
font: 1em sans-serif;
width: 250px;
box-sizing: border-box;
border: 1px solid #999;
}

input[type="checkbox"],
input[type="radio"] {
width: auto;
border: none;
}

input:focus,
textarea:focus {
border-color: #000;
}

textarea {
vertical-align: top;
height: 5em;
resize: vertical;
}

fieldset {
width: 250px;
box-sizing: border-box;
border: 1px solid #999;
}

#feedback_comment {
    width: 600px;
}

label {
display: inline-block;
}

p label {
width: 100%;
} */

/* form {
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
}

p * {
    display: block;
}

h1 {
    margin-top: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

div + div {
    margin-top: 1em;
}

label span {
    display: inline-block;
    text-align: right;
} */
